<div *ngIf="!isLoading" class="grid">
    <div class="col-12">
        <h2>{{ unitData.BookName}}</h2>
    </div>
    <div class="col-12">
        <p-accordion [activeIndex]="0">
            <p-accordionTab header="Phần 2">
                <div class="col-12">
                    <label>Chọn bài: </label>
                    <p-dropdown [options]="unitData.Units" [(ngModel)]="selectedUnit" optionLabel="Unit"
                        placeholder="Chọn bài" />
                </div>
                <div class="col-12">
                    <div *ngIf="selectedUnit">
                        <h5 class="mb-2">Unit {{ selectedUnit.Unit }}</h5>
						<iframe [src]="selectedUnit.Part2.Src" width="324" height="150"></iframe>

                        <form *ngIf="!practiceData[selectedUnit.Unit - 1].showResults" class="flex flex-column mb-2">
                            <div *ngFor="let quiz of selectedUnit.Part2.Quiz; let i = index"
                                class="flex justify-content-between">
                                <span>{{ i + 1 }}.</span>
                                <label>
                                    <input type="radio" [(ngModel)]="practiceData[selectedUnit.Unit - 1].userAnswers[i]"
                                        [value]="quiz.Answers[0]" name="question{{i}}" />
                                    A
                                </label>
                                <label>
                                    <input type="radio" [(ngModel)]="practiceData[selectedUnit.Unit - 1].userAnswers[i]"
                                        [value]="quiz.Answers[1]" name="question{{i}}" />
                                    B
                                </label>
                                <label>
                                    <input type="radio" [(ngModel)]="practiceData[selectedUnit.Unit - 1].userAnswers[i]"
                                        [value]="quiz.Answers[2]" name="question{{i}}" />
                                    C
                                </label>
                                <br>
                            </div>
                        </form>
                        <div *ngIf="practiceData[selectedUnit.Unit - 1].showResults" class="mb-2">
                            <div *ngFor="let quiz of selectedUnit.Part2.Quiz; let i = index">
                                <p>{{ i + 1 }}. {{ quiz.Question }}</p>
                                <p>
                                    <span *ngFor="let answer of quiz.Answers; let j = index">
                                        <span [ngStyle]="{
                                              'color': practiceData[selectedUnit.Unit - 1].userAnswers[i] === quiz.CorrectAnswer && answer === quiz.CorrectAnswer ? 'green' : 
                                                    practiceData[selectedUnit.Unit - 1].userAnswers[i] === answer && answer !== quiz.CorrectAnswer ? 'red' : 
                                                        answer === quiz.CorrectAnswer ? 'blue' : 'black'
                                              }">
                                            {{ ['A', 'B', 'C'][j] }}. {{ answer }}
                                        </span>
                                        <br>
                                    </span>
                                </p>
                            </div>
                            <h3>Tổng điểm của bạn: {{ practiceData[selectedUnit.Unit - 1].totalScore }}/{{
                                selectedUnit.Part2.Quiz.length }}
                            </h3>
                        </div>
                        <p-button label="Kiểm tra" (onClick)="checkAnswers(selectedUnit)" class="mr-2" />
                        <p-button label="Làm lại" (onClick)="resetQuiz(selectedUnit)" severity="secondary" />
                    </div>
                </div>
                <div class="col-12">
                    <h5 class="mb-2">Final test</h5>
					<iframe [src]="unitData.Test.Src2" width="324" height="150"></iframe>
                    
                    <form *ngIf="!testData.showResults" class="flex flex-column mb-2">
                        <div *ngFor="let quiz of unitData.Test.Quiz; let i = index"
                            class="flex justify-content-between">
                            <span>{{ i + 1 }}.</span>
                            <label>
                                <input type="radio" [(ngModel)]="testData.userAnswers[i]"
                                    [value]="quiz.Answers[0]" name="question{{i}}" />
                                A
                            </label>
                            <label>
                                <input type="radio" [(ngModel)]="testData.userAnswers[i]"
                                    [value]="quiz.Answers[1]" name="question{{i}}" />
                                B
                            </label>
                            <label>
                                <input type="radio" [(ngModel)]="testData.userAnswers[i]"
                                    [value]="quiz.Answers[2]" name="question{{i}}" />
                                C
                            </label>
                            <br>
                        </div>
                    </form>
                    <div *ngIf="testData.showResults" class="mb-2">
                        <div *ngFor="let quiz of unitData.Test.Quiz; let i = index">
                            <p>{{ i + 1 }}. {{ quiz.Question }}</p>
                            <p>
                                <span *ngFor="let answer of quiz.Answers; let j = index">
                                    <span [ngStyle]="{
                                          'color': testData.userAnswers[i] === quiz.CorrectAnswer && answer === quiz.CorrectAnswer ? 'green' : 
                                            testData.userAnswers[i] === answer && answer !== quiz.CorrectAnswer ? 'red' : 
                                                    answer === quiz.CorrectAnswer ? 'blue' : 'black'
                                          }">
                                        {{ ['A', 'B', 'C'][j] }}. {{ answer }}
                                    </span>
                                    <br>
                                </span>
                            </p>
                        </div>
                        <h3>Tổng điểm của bạn: {{ testData.totalScore }}/{{
                            unitData.Test.Quiz.length }}
                        </h3>
                    </div>
                    <p-button label="Kiểm tra" (onClick)="checkAnswersFinal()" class="mr-2" />
                    <p-button label="Làm lại" (onClick)="resetQuizFinal()" severity="secondary" />
                </div>
            </p-accordionTab>
            <p-accordionTab header="Phần 3">
                <div class="col-12">
                    <label>Chọn bài: </label>
                    <p-dropdown [options]="unitData.Units" [(ngModel)]="selectedUnitPart3" optionLabel="Unit"
                        placeholder="Chọn bài" />
                    <div *ngIf="selectedUnitPart3">
                        <h5 class="mb-2">Unit {{ selectedUnitPart3.Unit }}</h5>
						<iframe [src]="selectedUnitPart3.Part3.Src" width="324" height="150"></iframe>
                    </div>
                </div>
                <div class="col-12">
                    <h5 class="mb-2">Final test</h5>
					<iframe [src]="unitData.Test.Src3" width="324" height="150"></iframe>
                </div>
            </p-accordionTab>
            <p-accordionTab header="Phần 4">
                <div class="col-12">
                    <label>Chọn bài: </label>
                    <p-dropdown [options]="unitData.Units" [(ngModel)]="selectedUnitPart4" optionLabel="Unit"
                        placeholder="Chọn bài" />
                    <div *ngIf="selectedUnitPart4">
                        <h5 class="mb-2">Unit {{ selectedUnitPart4.Unit }}</h5>
						<iframe [src]="selectedUnitPart4.Part4.Src" width="324" height="150"></iframe>
                    </div>
                </div>
                <div class="col-12">
                    <h5 class="mb-2">Final test</h5>
					<iframe [src]="unitData.Test.Src4" width="324" height="150"></iframe>
                </div>
            </p-accordionTab>
        </p-accordion>
    </div>
    
</div>