
<div class="grid" style="height: 50vh;">
    <div class="col-12 flex justify-content-center align-items-center">
		<p-card header="Đăng nhập">
			<!-- <div class="field">
				<label for="username">Tài khoản</label>
				<input [(ngModel)]="username" id="username" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
			</div> -->
			
			<ng-template pTemplate="footer">
				<div class="flex gap-3 mt-1">
					<p-button label="Đăng nhập" (onClick)="loginWithGoogle()" />
				</div>
			</ng-template>
		</p-card>
    </div>
</div>
